<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full h-screen bg-zinc-900 text-white p-10">
        <div class="w-full flex justify-end">
            <a class="px-3 py-2 bg-red-500 rounded-lg text-sm inline-block mb-5" href="/logout">Logout</a>
        </div>
        <h5>Edit your post</h5>
        <form action="/update/<%=post._id%>" method="post">
            <textarea class="block w-1/3 bg-transparent border-2 resize-none border-zinc-800 mt-2 rounded-lg p-3 outline-none" name="content"><%=post.content%></textarea>
            <input class="px-3 py-2 bg-yellow-500 text-black rounded-lg mt-2 text-sm" type="submit" value="Update post">
        </form>
        
    </div>
</body>
</html>